In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from pandas.core.common import random_state
from sklearn.linear_model import LinearRegression
import math
from scipy.stats import kendalltau

data = pd.read_csv('crash2.csv')
data2=data.iloc[:,[2,3]]
data2

    Faktor Jalan (kasus)   Faktor Kendaraan (kasus)
0                      31                         12
1                      23                         15
2                      27                         14
3                      33                          9
4                      31                         18
5                      20                         11
6                      30                         10
7                      27                         11
8                      20                         13
9                      17                          9
10                     32                         21
11                     29                         14

In [62]:
kendal=0.190476
n=12
#atas
cara1=n-1
cara2=n*cara1
cara3=cara2/2
cara4= np.sqrt(cara3)
cara5=cara4*kendal
#bawah
bawah1=kendal*kendal
bawah2=1-bawah1
bawah3= np.sqrt(bawah2)

bagi=cara5/bawah3
bagi

1.5762933501922816

In [63]:
from scipy.stats import kendalltau
import numpy as np

# Pilih dua kolom dari DataFrame
x = data2["Faktor Jalan (kasus) "]
y = data2["Faktor Kendaraan (kasus) "]

# Hitung nilai Kendall's Tau
tau=0.190476

# Jumlah observasi
n = len(x)

# Hitung nilai Z
z = tau * np.sqrt(n * (n - 1) / 2) / np.sqrt(1 - tau**2)

# Output hasil
print(f"Nilai Kendall's Tau: {tau}")
print(f"Nilai Z: {z}")

Nilai Kendall's Tau: 0.190476
Nilai Z: 1.5762933501922816